@charset "utf-8";
/* CSS Document */
/* text to call imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Note:
Main Colours used: #fff or white, #111 or black, crimson red and lightgrey
Transitions: i put all to 0.3s ease Because of consistency and smoothness.
Z-index: i dont necessarily have to put 9999 as the input but its just to ensure that that the layer i wan to be on top
is prioritise.
 */

/* global code applies to all */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* whenever user clicks a link it scrolls instead of instantly bringing them there */

html{
	scroll-behavior: smooth;
}

/* all max-width classes will share this code content wont go further beyond 1300px can be tweaked*/

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

/*navbar styling properties*/

.navbar{
	position: fixed;
	width: 100%;
	padding: 30px 0;
	font-family: "Ubuntu",sans-serif;
	transition: all 0.3s ease;
	z-index: 999
}

/* sticky is called within javascript to give the cool colourless to red animation when scrolling down
ths css here is just to configure the box size and colour */
.navbar.sticky{
	padding: 15px 0;
	background: crimson;
}

/* using flex properties, while also aligning flex child contents within */

.navbar .max-width{
	display:flex;
	align-items:center;
	justify-content: space-between;
}

/* The M part of my name is white */

.navbar .logo a{
	color:#fff;
	font-size: 35px;
	font-weight: 600;
}

/* while the rest acc. is red before scrolling down changing to #fff or white */

.navbar .logo a span{
	color: crimson;
	transition: all 0.3s ease;
}

/* changes the acc. to white when sticky is activated */

.navbar.sticky .logo a span{
	color: #fff;
}

/* makes the list be in a row rather than column */

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

/* intial color of text, font size etc. */

.navbar .menu li a{
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight:500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

/* hovering on the text changes white to red */

.navbar .menu li a:hover{
	color: crimson;
}

/* since sticky function changes the navbar background to red when scrolling down, this code
reverses the above code when sticky is in play hence hovering will still be white since red
on red cant be read*/

.navbar.sticky .menu li a:hover{
	color: #fff;
}

/*menu btn style*/

/* color, cursor to pointer and size of mobile menu button */

.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

/* Bottom scroll up button style */

/* this took a lot of testing.. basically first code fixes position, configures the original size
color of it, inside arrow logo to be a button and the color of it size of it etc.
highest layer priority (z-index)  outside border radius etc and the time it animates(0.3s ease)
opacity is set to 0 because button script hasnt been activated yet more in script.js*/

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* function show plays causing the button to appear when user scrolls below the home section
as opacity changes from 0 to 1 */

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* this just slightly changes the color of the button when u hover over it
i chose brightness because it affects the entire color scheme and if
i use a specify color it will change the entire button to that color
making it weird */

.scroll-up-btn:hover{
    filter: brightness(90%);
}

/*home style*/

/* flexbox property onto my home section
background img is imported here from local files
and fixing of the position as well as font */

.home{
	display:flex;
	background:url("assets/38.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	color:#fff;;
	min-height: 500px;
	font-family: "Ubuntu",sans-serif;
}

/* distancing home content from navbar into center */

.home .max-width{
	margin: auto 0 auto 40px;
}

/* the follow 3 codes just configures the hello message to make it look aesthetic design wise*/

.home .home-content .text-1{
	font-size: 27px;
}

.home .home-content .text-2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3{
	font-size: 40px;
	margin:5px 0;
}

/* color of last bit of text to highlight from the rest of the text */

.home .home-content .text-3 span{
	color:crimson;
	font-weight: 500;
}

/* contact me button styling and sizing text color etc*/

.home .home-content a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid crimson;
	transition: all 0.3s ease;
}

/* hovering over removes the red background but changes the text to red to outline it out*/

.home .home-content a:hover{
	color:crimson;
	background: none;
}

/*Sections that share the same code go here */

section{
	padding: 100px 0;
}

/* same title format used for every section, centers text, font size positioning etc */

section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

/* ok so this code basically draws a line below the title class before the after content
so i can get like the title inbetween line effect */

section .title::before{
	content:"";
	position: absolute;
	bottom:0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}

/* styling format for all :after text */

section .title::after{
	position: absolute;
	bottom:-12px;
	left: 50%;
	font-size: 20px;
	color: crimson;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}

/*about style part*/

/* font family for about section */

.about {font-family: 'Poppins',sans-serif;}

/* as mentioned after content text which is centered */

.about .title::after{
	content: "Who am I?"
}

/* flexbox style to about section */

.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* splitting the about content left to right */

.about .about-content .left{
	width: 45%;
}

/* i put an image of me on the left taking 45% of .max-width and styling properties */

.about .about-content .left img{
	height: 450px;
	width: 400px;
	object-fit: cover;
	border-radius: 10px;
}

/* configuring the right content with remaining 55%*/

.about .about-content .right{
	width: 55%;
}

/* on the right i put text about myself */

.about .about-content .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

/* simiarly in home, i like to change text color in text to outline certain words from a sentence */

.about .about-content .right .text span{
	color: crimson;
}

/* stretches the text to fit */

.about .about-content .right p{
	text-align: justify;
}

/* download cv button styling similar to the above contact me button */

.about .about-content .right a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid crimson;
	transition: all 0.3s ease;
}

/* hovering changes color of text from white to red while removing the red background */

.about .about-content .right a:hover{
	color: crimson;
	background: none;
}

/*My work style part*/

/* changing background color from white to black and text from black to white  */

.work{
	background: #111;
	color: #fff;
}

/* setting font family */

.work {font-family: 'Poppins',sans-serif;}

/* black line is changed to white */

.work .title::before{
	background: #fff;
}

/* Since after makes the background white i set work ::after to fixed black to match the background */

.work .title::after{
	background: #111;
	content: "What do I do?"
}

/* work flexbox property for responsiveness later */

.work .work-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* setting the size and postioning of the card box and styling properties text-align border radius etc */

.work .work-content .card{
	width:calc(33% - 20px);
	background: #222;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	margin: 5px;
	transition: all 0.3s ease;
}

/* hovering changes the background from grey to crimson */

.work .work-content .card:hover{
	background: crimson;
}

/* transition function for hovering over the card box */

.work .work-content .card .box{
	transition: all 0.3s ease;
}

/* make it bigger by 5% for readbility for interested readers*/

.work .work-content .card:hover .box{
	transform: scale(1.05)
}

/* styling for card icon inside color size */

.work .work-content .card i{
	font-size: 50px;
	color: crimson;
	transition: color 0.3s ease;
}

/* hovering changes the color of icon to white since hovering also changes the card background
to red */

.work .work-content .card:hover i{
	color: #fff;
}

/* this is the heading styling property for size and positioning */

.work .work-content .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/*Skills style part here*/

/* setting skills font */

.skills {font-family: 'Poppins',sans-serif;}

/* setting after header content */

.skills .title::after{
	content: "Speciality";
}

/* making display flex for flexbox property for skills section */

.skills .skills-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* width of each column side */

.skills .skills-content .column{
	width: calc(50% - 30px);
}

/* left column is for text styling properties applied below */

.skills .skills-content .left .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

/* Ensure text is stretched */

.skills .skills-content .left p{
	text-align: justify;
}

/* read more buttom similar code for all the buuttons above */

.skills .skills-content .left a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid crimson;
	transition: all 0.3s ease;
}

/* hover over the button changes colour */

.skills .skills-content .left a:hover{
	color: crimson;
	background: none;
}

/* ensure space between each content since its displayed vertically */

.skills .skills-content .right .bars{
	margin-bottom: 15px;
}

/* help me do the space between thingy to make text on each extreme end (text        percentage%) */

.skills .skills-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}

/* font size for right column texts  */

.skills .skills-content .right .span{
	font-weight: 500;
	font-size: 18px;
}

/* draws the line */

.skills .skills-content .right .line{
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}

/* FOR EACH OF THE FOLLOWING CODES ::BEFORE LETS ME COLOUR PART OF THE LINE
BEFORE IT REACHES THE END THE FIRST IS LIKE THE FUNCTION CODE
FOLLOWING CODE IS FOR EACH INDIVIDUAL LINE EG HTML , CSS */

.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: crimson;
}

.skills-content .right .html::before{
	width: 80%;
}

.skills-content .right .css::before{
	width: 65%;
}

.skills-content .right .js::before{
	width: 70%;
}

.skills-content .right .model::before{
	width: 80%;
}

.skills-content .right .bs::before{
	width: 75%;
}

.skills-content .right .mm::before{
	width: 75%;
}

/*Gallery Style here*/

/* Setting gallery font style */

.gallery {font-family: 'Poppins',sans-serif;}

/* :After header and changed background */

.gallery .title::after{
	background: #111;
	content: "My World";
}

/* swapping back backgrounds from white to black again */

.gallery{
	color: #fff;
	background: #111;
}

/* setting line to white color */

.gallery .title::before{
	background: #fff;
}

/* style of card box sizing color and positioning */

.gallery .slideshow .card{
	background: #222;
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
	transition: all 0.3s ease;
}

/* Change color from lightgrey to red when hover over the box */

.gallery .slideshow .card:hover{
	background: crimson;
}

/* flex to display my content in the box as column as well as keeping it centered */

.gallery .slideshow .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

/* increase size by 5% when hovered */

.gallery .slideshow .card:hover .box{
	transform: scale(1.05);
}

/* title style size */

.gallery .slideshow .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

/* format image size and border styling */

.gallery .slideshow .card img{
	height: 325px;
	width: 300px;
	object-fit: cover;
	border-radius: 10%;
	border: 3px solid crimson;
	transition: all 0.3s ease;
}

/* change border color when hovered on card */

.gallery .slideshow .card:hover img{
	border-color: #fff;
}

/* Owl dots is a function called from the owl carousell css
it basically comes with this dots that i can use to tell users
their positioning relative to which picture in the gallery they are looking at */

 /* center dots and sizing */

.owl-dots{
	text-align: center;
	margin-top: 20px;
}

/* !Important is used to overide and add inherit style from the owl carousel css
code below configurs size and border radius color.*/

.owl-dot{
	height: 13px;
	width: 13px;
	margin: 0 5px;
	outline: none!important;
	border-radius: 50%;
	border: 2px solid crimson!important;
	transition: all 0.3s ease;
}

/* When active(on the position dot) dot increases in size */

.owl-dot.active{
	width: 35px;
	border-radius: 14px;
}

/* when hovering adds color to the dot or when active */

.owl-dot.active,
.owl-dot:hover{
	background:crimson!important;
}
/*Contact Style here*/

/* after heading */

.contact .title::after{
	content:"Questions?"
}

/* setting contact section font */

.contact{
	font-family: 'Poppins', sans-serif;
}

/* flex property to space out content */

.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* similarly in skills each section gets 30px split */

.contact .contact-content .column{
	width: calc(50% - 30px);
}

/* heading font size and margin*/

.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

/* stretches text in left column */

.contact .contact-content .left p{
	text-align: justify;
}

/* icon spacing from text */

.contact .contact-content .left .icons{
	margin:10px 0;
}

/* defines heigh space for each row */

.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}

/* spacing from icon to info */

.contact .contact-content .row .info{
	margin-left: 30px;
}

/* icon style */

.contact .contact-content .row i{
	font-size: 25px;
	color: crimson;
}

/* bold the heading more */

.contact .contact-content .row .info .head{
	font-weight: 500;
}

/* darken the color of sub text */

.contact .contact-content .row .info .sub-title{
	color: #333;
}

/* add flex to fields section since default flex direction is row display fields content in a row */

.contact .right form .fields{
	display: flex;
}

/*adjusts height and width for subject field area*/

.contact .right form .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

/* fields field */

.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

/* textarea sizing */

.contact .right form .textarea{
	height:80px;
	width: 100%;
}

/* adjusts name class positioning */

.contact .right form .name{
	margin-right: 10px;
}

/* adjusts email class positioning */

.contact .right form .email{
	margin-left: 10px;
}

/* add style to the input values for all the input spaces like border-radius etc */

.contact .right form .field input{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}

/* same for textarea */

.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}

/* prevent resizing */

.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}

/* submit button sizing */

.contact .right form .button{
	height: 47px;
	width: 170px;
}

/* style for submit button as well as 100% for height and width to ensure it wont deform when on a smaller resolution */

.contact .right form .button button{
	width: 100%;
	height: 100%;
	border: 2px solid crimson;
	background: crimson;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* hover over the button changes color to red and removes background */

.contact .right form .button button:hover{
	color: crimson;
	background:none;
}

/*footer style part*/

/* footer text is set */
footer{
	font-family: 'Poppins', sans-serif;}

/* styling of footer color position etc */

footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	content: '';
}

/* my name Macc. is highlighted in red */

footer span a{
	color: crimson;
	text-decoration: none;
}

/* hovering over it will underline it */

footer span a:hover{
	text-decoration: underline;
}

/*responsive part*/


@media (max-width:1300px){
	.home .max-width{
		margin-left: 0px;
	}
}

@media (max-width:1104px){
	.about .about-content .left img{
	height: 350px;
	width: 350px;}
}

@media (max-width:991px){
	.max-width{
		padding: 0 50px;
	}
}

@media (max-width:947px){
	.menu-btn{
	display:block;
	z-index: 999;
	}

	.menu-btn i.active:before{
		content: "\f00d"
	}

	.navbar .menu{
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top:0;
		background:#111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.navbar .menu.active{
		left: 0;
	}

	.navbar .menu li{
		display: block;
	}

	.navbar .menu li a{
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}

	.home .home-content .text-2{
	font-size: 70px;
	}

	.home .home-content .text-3{
	font-size: 35px;
	}

	.home .home-content a{
		font-size: 23px;
		padding: 10px 30px;
	}

	.max-width{
	max-width: 800px;
	}

	.about .about-content .columm{
		width:100%;
	}

	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}

	.about .about-content .right{
		flex: 100%;
	}

	.work .work-content .card{
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}

	.skills .skills-content .column{
		width: 100%;
		margin-bottom: 35px;
	}

	.contact .contact-content .column{
		width: 100%;
		margin-bottom: 35px;
	}
}

@media (max-width:690px){
	.max-width{
		padding: 0 23px;
	}

	.home .home-content .text-2{
	font-size: 60px;
	}

	.home .home-content .text-3{
	font-size: 32px;
	}

	.home .home-content a{
		font-size: 20px;
	}

	.work .work-content .card
	.skills .skills-content .column{
		width: 100%;
	}
}

@media (max-width:500px){
	.home .home-content .text-2{
	font-size: 50px;
	}

	.home .home-content .text-3{
	font-size: 27px;
	}
}




